@{
    var claims = User.Claims.ToList();
    // Tìm claim cụ thể bằng kiểu hoặc tên claim
    var anhClaim = claims.FirstOrDefault(c => c.Type == "Anh");
    var hoVaTenClaim = claims.FirstOrDefault(c => c.Type == "HoVaTen");
    var soKhachSanClaim = claims.FirstOrDefault(c => c.Type == "SoKhachSan");
    var soLuotDatClaim = claims.FirstOrDefault(c => c.Type == "SoLuotDat");
}
<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from easybook.kwst.net/dashboard-myprofile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:16:58 GMT -->
<head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Easybook - Hotel Booking Directory Listing Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="../assets/css/reset.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="pin">
                <div class="pulse"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- Main  -->
        <div id="main">
            <!-- header-->
             @await Html.PartialAsync("_PatialHeader")
            <!--  header end -->
            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!-- section-->
                    <section class="flat-header color-bg adm-header">
                        <div class="wave-bg wave-bg2"></div>
                        <div class="container">
                            <div class="dasboard-wrap fl-wrap">
                               
                                <!--dasboard-sidebar-->
                            <div id="profile" class="dasboard-sidebar">

                                </div>
                                <!--dasboard-sidebar end--> 
                                <!-- dasboard-menu-->
                                <div class="dasboard-menu">
                                    <div class="dasboard-menu-btn color3-bg">Dashboard Menu<i class="fal fa-bars"></i></div>
                                    <ul class="dasboard-menu-wrap">
                                        <li>
                                            <a href="#" class="user-profile-act"><i class="far fa-user"></i>Profile</a>
                                            <ul>
                                                <li><a href="/User/TrangCaNhan">Thông tin cá nhân</a></li>
                                                <li><a href="/User/DoiMatKhau">Đổi mật khẩu</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/QLKhachSan/LichSuDat"><i class="far fa-envelope"></i>Phòng bạn đặt<span>3</span></a></li>
                                        <li>
                                            <a href="/QLKhachSan/KhachSanTheoTaiKhoan"><i class="far fa-th-list"></i>Khách sạn của bạn</a>
                                            <ul>
                                                <li><a href="#">Active</a><span>5</span></li>
                                                <li><a href="#">Pending</a><span>2</span></li>
                                                <li><a href="#">Expire</a><span>3</span></li>
                                            </ul>
                                        </li>
                                        <li><a href="/QLKhachSan/YeuCauKhachHang"> <i class="far fa-calendar-check"></i>Yêu cầu đặt phòng <span>2</span></a></li>
                                        <li><a href="#"><i class="far fa-comments"></i> Đánh giá </a></li>
                                    </ul>
                                </div>
                                <!--dasboard-menu end-->
                                <!--Tariff Plan menu-->
                                
                                <!--Tariff Plan menu end-->
                            </div>
                        </div>
                    </section>
                    <!-- section end-->
                    <!-- section-->
                    @RenderBody()
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->
            <!--footer -->
             @await Html.PartialAsync("_PatialFooter")
            <!--footer end -->
            <!--map-modal -->
            <div class="map-modal-wrap">
                <div class="map-modal-wrap-overlay"></div>
                <div class="map-modal-item">
                    <div class="map-modal-container fl-wrap">
                        <h3>Hotel Title</h3>
                        <div class="map-modal fl-wrap">
                            <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                        </div>
                        <a href="#" class="btn color2-bg">View Details <i class="fal fa-angle-right"></i></a>
                        <div class="map-modal-close"><i class="far fa-times"></i></div>
                    </div>
                </div>
            </div>
            <!--map-modal end -->            
            <!--register form -->
            <div class="main-register-wrap modal">
                <div class="reg-overlay"></div>
                <div class="main-register-holder">
                    <div class="main-register fl-wrap">
                        <div class="close-reg color-bg"><i class="fal fa-times"></i></div>
                        <!--tabs -->                       
                        <div id="tabs-container">
                        <div class="modal-body" style="padding: 30px 30px;">
                            Thêm thành công. Bạn muốn:
                        </div>
                        <div class="modal-footer" style="display:flex;">
                            <button href="#" class="btn btn-primary" style="color:#000; margin-right:10px;">Tiếp tục thêm</button>
                            <button href="#" class="btn btn-primary" style="color: #000;">Về trang chủ</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
            <a class="to-top"><i class="fas fa-caret-up"></i></a>
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/js/plugins.js"></script>
        <script type="text/javascript" src="../assets/js/scripts.js"></script>
        <script>
        $(document).ready(function () {
            $.ajax({
                url: "/User/YourPartialAction",
                success: function (html) {
                    $("#profile").empty().append(html);
                },
                error: function(xhr, status, error) {
                    console.error("Error occurred:", status, error);
                    // Xử lý lỗi ở đây
                }
            });
        });
        </script>
    @RenderSection("scripts", required: false)
    </body>

<!-- Mirrored from easybook.kwst.net/dashboard-myprofile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:16:58 GMT -->
</html>