@model List<string>
<div class="main-search-input-item location" id="autocomplete-container">
          <span class="inpt_dec"><i class="fal fa-map-marker"></i></span>
          <input type="text" placeholder="Hotel , City..." class="autocomplete-input" id="autocompleteid2" name="main-input-city" value="" />
          <a href="#"><i class="fal fa-dot-circle"></i></a>
</div>