@using DoAn_QLKhachSan.ViewModels;
@{
    Layout = "~/Views/Shared/_LayoutTrangCaNhan.cshtml";
}
<style>
    .dashboard-listing-table-image img {
        width: 100%;
        height: auto;
        border-radius: 6px;
        max-height: 174px;
        object-fit: cover;
    }
</style>
@model List<PhongModel>
<section class="middle-padding">
    <div class="container">
        <!--dasboard-wrap-->
        <div class="dasboard-wrap fl-wrap">
            <!-- dashboard-content-->
            <div class="dashboard-content fl-wrap">
                <div class="dashboard-list-box fl-wrap">
                    <div class="dashboard-header fl-wrap">
                        <h3>Danh Sách Phòng Của Khách Sạn</h3>
                    </div>
                    <!-- dashboard-list  -->
                    @foreach (var item in Model)
                    {
                        <div class="dashboard-list">
                            <div class="dashboard-message">
                                <span class="new-dashboard-item">New</span>
                                <div class="dashboard-listing-table-image">
                                    <a href=""><img src="../assets/images/phong/@item.Phong.AnhDaiDien" alt=""></a>
                                </div>
                                <div class="dashboard-listing-table-text">
                                    <h4><a href="">@item.Phong.TenPhong</a></h4>
                                    <span class="dashboard-listing-table-address"><i class="far fa-map-marker"></i><a href="#">@item.Phong.GiaPhong</a></span>
                                    <ul class="dashboard-listing-table-opt fl-wrap">
                                        <li><a href="/QLKhachSan/SuaPhong?idphong=@item.Phong.Id">Sửa<i class="fal fa-edit"></i></a></li>
                                        <li><a href="/QLKhachSan/XoaPhong?idphong=@item.Phong.Id" class="del-btn">Xoá<i class="fal fa-trash-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- pagination-->
                <div class="pagination">
                    <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="current-page">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                </div>
            </div>
            <!-- dashboard-list-box end-->
        </div>
        <!-- dasboard-wrap end-->
    </div>
</section>